<h1>Add a new player</h1>

<form action="/players" method="post">
  <p>
  <label for="name">Name:</label>
  <input id="name" type="text" name="name" required>
</p>
<p>
  <label for="country">Country</label>
  <input id="country" type="text" name="country" required>
</p>
  <!-- <label for="points-won">Points won</label> -->
  <input id="points-won" type="hidden" name="points_won" value="0">

<p>
  <label for="team-select">Select a team</label>
  <select id="team-select" name="team">
    <% for team in @teams %>
    <option value = "<%= team.id%> "> <%= team.name %> </option>
<% end %>
</p>

<BR>

</form>
<p><input type="submit" value="Add New Player"></p>
