<h1>Teams</h1>

<table>
  <tr>
    <th align="left">Name</th>
    <th></th>
    <th align="left">Slogan</th>
  </tr>
  <% for team in @teams %>
  <tr>
    <td align="left"><a href="/teams/<%= team.id %>"><%= team.name %></a></td>
    <td>|</td>
    <td align="left"><i>"<%= team.slogan %>"</i></td>
  </tr>
  <% end %>
</table>
<br>
<h4><a href="/newteam">Add New Team:</a></h4>

<h4><a href="/testlink">Test for formatting</a></h4>
