<h1>Add a new team</h1>

<form action="/teams" method="post">
  <p>
  <label for="name">Name:</label>
  <input id="name" type="text" name="name" required>
</p>
<p>
  <label for="country">Country</label>
  <input id="country" type="text" name="country" required>
</p>
<BR>
  <input type="submit" value="Add Team">
</form>
