<h1>Add a new team</h1>

<form action="/teams" method="post">
  <p>
  <label for="name">Name:</label>
  <input id="name" type="text" name="name" required>
</p>
<p>
  <label for="slogan">Slogan:</label>
  <input id="slogan" type="text" name="slogan" required>
</p>
<BR>
  <input type="submit" value="Add Team">
</form>
