<body style="background-image: url('/images/bgEVO2.jpg');">


<h1>The Big League of Sports!</h1>
<br>
<p class="widthSet">Sports are fantastic, aren't they? You're darn tootin'!<br>
<br>
Welcome to the world of non-specific sport! Players from all over the world are competing in an unspecified sporting event and we're here for it. From the names of teams and players to the dates of games: we got you covered.<br>
<br>
Ever wondered if Home Team could defeat Away Team? Don't! Who cares?!<br>
<br>
<b>SPORT!</b></p>
<br>
<br>
Use the menu to the left to navigate.
</body>
