<h1>Games</h1>

<table>
  <tr>
    <th>Date</th>
    <th></th>
    <th>Home Team</th>
    <th></th>
    <th>Away Team</th>
  </tr>
  <% for game in @games %>
  <tr>
    <td><a href="/games/<%= game.id %>"><%= game.date %></a></td>
    <td>|</td>
    <td><%= game.get_home_team.name %></td>
    <td> vs </td>
    <td> <%= game.get_away_team.name %></td>
  </tr>
  <% end %>
</table>
<br>
<h4><a href="/newfixture">Add new fixture</a></h4>
