<h1>Add a new fixture</h1>


<form action="/games" method="post">
  <p>
  <label for="date">Date:</label>
  <input id="date" type="date" name="date" required>
</p>
<!-- # Choose Home Team -->
<p>
  <label for="home-team-select">Select Home team</label>
  <select id="home-team-select" name="home_team">

    <% for team in @teams %>
    <option value = "<%= team.id%> "> <%= team.name %> </option>
<% end %>
</select>
</p>
<!-- # Choose Away Team -->
<p>
  <label for="away-team-select">Select Away team</label>
  <select id="away-team-select" name="away_team">

    <% for team in @teams %>
    <option value = "<%= team.id%> "> <%= team.name %> </option>
    <% end %>
</select>
</p>
  <input id="result" type="hidden" name="result" value="TBC">
<BR>
  <input type="submit" value="Add Fixture">
</form>
