<h1>Add a new fixture</h1>

<form class="" action="/games" method="post">
  <label for="date">Name:</label>
  <input id="date" type="date" name="date" required>

  <label for="home-team">Home Team</label>
  <input id="home-team" type="text" name="home_team" required>

  <label for="home-team">Away Team</label>
  <input id="home-team" type="text" name="home_team" required>

  <input type="submit" value="Add Team">
</form>
