<h1><%= @game.date %> </h1>

<table>
  <tr>
    <th>Date</th>
    <th></th>
    <th>Home Team</th>
    <th></th>
    <th>Away Team</th>
  </tr>
  <tr>
    <td><%= @game.date %></td>
    <td>|</td>
    <td><%= @game.home_team %></td>
    <td>|</td>
    <td> <%= @game.away_team %></td>
  </tr>
</table>
