

body {
  background: #244954;
  background-size: cover;
  background-repeat: no-repeat;
  color: papayawhip;
  font-family: 'futura', serif;
  padding: 10px;
  margin: 10px;
}

p {
  width: 500px;

}

.bg {

}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Futura';
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 1.8em;
  color: #feca1d;
  margin-bottom: 0px;
}

a, a:link, a:visited {
  color: #E69A8DFF;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #c6e2ff;
}

nav {
  padding: 0px;
  margin: 0px;
  padding: 25px;
     background-image: linear-gradient(#1d3a43, rgba(0,128,128,0) 100%);
}

nav ul li {
  margin-bottom: 15px;
  text-transform: uppercase;
}

ul {
  padding: 10px;
  margin: 0px;
  list-style-type: none;

}

main {
  padding: 25px;
}

.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}

.flex--column {
  flex-direction: column;
}

form  { display: inline-block;}
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }

#content {

  border-left: 5px solid teal;
  padding: 25px;
  padding-right: 200px;
background: linear-gradient(90deg, rgba(0,128,128,1) 0%, rgba(0,128,128,0) 100%);}


.widthSet {
    max-width: 200px;
}

.widthSet2 {
    max-width: 450px;
}
